<app-header></app-header>



<section class="home">
    <div class="container">
        <h2>Bienvenue sur Mon Site</h2>
        <p>
            
            Bienvenue sur le Site de Réunions ! Notre plateforme a pour objectif de simplifier la planification et la gestion de vos réunions, que ce soit pour des petites réunions d'équipe ou des grands événements professionnels. Avec notre outil convivial, vous pouvez créer des agendas, inviter des participants, gérer les inscriptions et bien plus encore, le tout en un seul endroit. Gagnez du temps et de l'efficacité dans l'organisation de vos réunions en utilisant notre service. Découvrez dès maintenant comment nous pouvons vous aider à rendre vos réunions plus productives et sans tracas.</p>
        <img src="assets/img.jpg" alt="Exemple d'image">
    </div>
</section>
<app-footer></app-footer>